html {
    font-size: 12px;
    font-family: 'BioRhyme Expanded', serif;
    background-color: #ffebcd;
}

body {
    width: 900px;
    margin: 0 auto;
    background-color: rgb(253, 246, 227); 
    padding: 0 20px 20px 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #ffb366;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

button {
    background-color: antiquewhite;
}

a {
    color: black; 
}

dl {
    text-align: left;
}

code {
    background-color: #ffb366;
    font-family: 'Source Code Pro', monospace;
}
